#landing-container {
	display: flex;
	align-items: center;
    justify-content: center;
	padding: 10%;
	width: 80%;
	height: 70vh;
	min-height: calc(100% + 60px);
	background-image: url("../images/subtle_white_mini_waves.png");
}

#photo{
	/*border: 1px solid white;*/

	border-radius: 20%;
	padding: 3%;
	width: 30%;
	height: auto;
}
#landing{
	padding-left:5%;
	font-family: 'Arvo', serif;
	font-size:28px;
	text-align: left;
}
#title{
	font-size:42px;
	/*border-bottom: 1px solid maroon;*/
}
#subtitle{
	/*font-family: 'Open Sans', sans-serif;*/
	font-size: 0.8em;
	width:75%;
}
#about{
	font-family: 'Open Sans', sans-serif;
	display:inline-block;
	height:70vh;
	padding: 20px;
}
.about-line{
	padding: 10px 25px 0px 25px; 
}
.inline{ display:inline; }
.italics{ font-style: italic; }