/* all pages (mobile additions to custom.css) */
#mob-menu-icon{
	margin-top:10px;
	display: block;
	padding-right:5%;
	text-align: right;
}
.menu{
	display:block; /*disable flex here*/
}
.menu-item{
	display:none;
}

/* index.html (mobile additions to index.css) */
#landing{
    width:95%;
    padding:10vh 5vw 10vh 0;
}
#photo{
	width:100%;
	height:auto;
	padding:0px;
}
.about-line:last-child {
	padding-bottom: 30px;
}
/* resume.html (mobile additions to resume.css) */
.role{ /*bullet points for entries*/
	display: list-item;
}
.details{ /*details for awards*/
	display: block;
}
.hidden{
	display:none;
}
#download #download-longer{
	display:none;
}
.nav-button{
	z-index: 20;
}
#s2id_and-or-select.select2-container {
	padding-left: 0px;
	padding-top: 5px;
}