body{
	font-family: 'Open Sans', sans-serif;
}
a{
	color:black;
	text-decoration: none;
}
svg {
	display: block; /*gets rid of pesky space between divs containing svgs*/
}
.menu{
	z-index: 1;
}
.anchor{
	margin-top:-60px;
	padding-top:60px;
}
#graph-intro{
	padding:100px 20px 0 20px;

}
#graphlisting{
	padding: 40px 0px;
}
#timeline .yearbox {
	float:left;
}
/*
#download-ref{
	color:#88382D;
}
#download-ref{
	padding-left: 15px;
	font-size:.75em;
	text-decoration: underline;
}
#download-ref:hover{
	text-decoration: none;
}*/
#nav-button-container{
	position:fixed;
	right:10px;
	bottom:10px;
}
.nav-button{
	background-color:#88382D;
	border-radius: 50px;
	text-align: center;
	font-size: .75em;`
	display: block;
	padding:10px;
	margin-top: 20px;
}
#to-top-button{
	padding-bottom:20px;
	opacity: 0;
}
#to-download-button{
	padding-top:20px;
}

/*written cv*/
#cvtitle{
	font-size: 1em;
	text-align: center;
}
#cvtitle #cvtitle-name{
	font-size: 1.2em;
	font-weight: 700;
}
/*cv headings*/
table::before{
	font-size: 1.02em;
	font-weight:700;
	margin-left: 20px;
	display:inline-block;
}
#table-academic_entry::before{ 
	content:"Education";
}
#table-extra_entry::before{ 
	content:"Extracurricular Activities, Volunteer and Work Experience";
}
#table-extra_entry{ 
	display:inline;
}
#table-award::before{
	content:"Honors";
}
#course-table-head{
	font-size: 1.02em;
	font-weight:700;
	margin-left: 20px;
}

#cvlisting {
	float:none;
}
#cvlisting td {
	padding-left:20px;
	vertical-align:top;
}

/*hide specific id entries*/
#ice { display:none;}
#ps261 { display:none;}

#filter{
	text-align: center;
	padding: 10px 0px 30px 0px;
}
#s2id_filter-select.select2-container {
	width:500px;
}
#s2id_and-or-select.select2-container {
	padding-left: 5px;
}
/*tags icons*/
.td-tags{
	width:90px;
	padding:5px;
	height:auto;
}
.cv-icon{
	display:inline-block;
	width: 25px; 
	height: 25px;
	margin-right:5px;
	background-size: contain;
    background-repeat: no-repeat;
}
.icon-text{
	position:absolute;
	font-size: .8em;
}
.vol{
	background-image: url("../images/icon-charity-Vladimir.png");
}
.prof{
	background-image: url("../images/icon-professional-Andrey Vasiliev.png");
}
.learn{
	background-image: url("../images/icon-education-Kevin Augustine LO.png");
}
.teach{
	background-image: url("../images/icon-teach-Julien Deveaux.png");
}
.club{
	background-image: url("../images/icon-club-Aha-Soft.png");
}
.hum{
	background-image: url("../images/icon-thinker-Nuno Lezon.png");
}
.lang{
	background-image: url("../images/icon-lang-Lek Potharam.png");
}
.cs{
	background-image: url("../images/icon-cs-Christopher Holm-Hansen.png");
}
.neuro{
	background-image: url("../images/icon-neuro-Aha-Soft.png");
}


/*entry attribute styling classes*/
.td-dates{ width: 10%;}
.date_str{}
.date_start_num{}
.date_end_num{}

.underline{ text-decoration: underline; }
.company{
	font-weight:700;
} 
.position{}
.role{
	text-decoration: none; /*overrides custom.css underline for clickable*/ 
}

/*award styling*/
.title{
	font-weight:700;
}
/*download button*/
#download a {
	line-height: 1;
	text-decoration:none;
	display: inline-block;
	padding: 8px 12px;
	background-color:#88382D;
	color: #2d2d2d;
	border:#88382D;
	width: 100px;
	margin:20px;

	cursor:pointer;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-align: center;
}
#download {width: 100%; text-align: center;}
#download #download-longer{
	display:inline;
}