body{
	font-family: 'Open Sans', sans-serif;
}
svg {
	display: block; /*gets rid of pesky space between divs containing svgs*/
}
.menu{
	z-index: 1;
}
.not-menu{
	padding-top:60px;
}
.anchor{
	margin-top:-60px;
	padding-top:60px;
}

#timeline .yearbox {
	float:left;
}

#cvlisting {
	float:none;
	margin-left: 20px;
}
#cvlisting td {
	vertical-align:top;
}
/*hide specific id entries*/
#ice { display:none;}
#ps261 { display:none;}


/*entry attribute styling classes*/
.date_str{
	padding-right: 5%; /*separates table rows*/
}
.date_start_num{}
.date_end_num{}
.company{
	font-weight:700;
} 
.position{}
.role{}

/*award styling*/
.title{
	font-weight:700;
}