.landing{
	font-family: 'Arvo', serif;
	font-size:28px;
	height:70vh;
	width:100%;

	padding-top:30vh;
	text-align: right;
	padding-right:5%;
	background-image: url("images/subtle_white_mini_waves.png");

	float:left;
}
#title{
	font-size:42px;
}
#photo{
	padding-top:10vh; /*for menu bar*/
	height:90vh;
}

#about{
	height:100vh;
}
