.landing-menu {
  @media #{$media_tiny}, #{$media_small}{
    display: none;
  }
  nav {
    margin-top: 100px;
    border-top: 1px solid $color_brown;
    padding-top: 20px;
    font-weight: $semibold;
    a {
      margin: 0 60px;
    }
  }
}
