.landing-content {
  text-align: left;
  display:flex;
  justify-content: center;
  align-items: center;
  // justify-content: space-around;
  line-height: 1.5;
  .profile {
    padding-left: $largest_font;
    .name {
      @extend %name_styling;
      font-size: $largest_font;
      padding-bottom: 40px;
    }
    .about-item {
      font-size: $normal_font;
      color: $color_blue;
      line-height: 1.875;
      text-indent: -1em; //accounts for "commenting out"
      margin-left:1em;
    }
    .about-item::before {
      content: "// ";
      color: $color_blue;
    }
  }
}
