.main-footer {
  margin-left: -10px;
  width: calc(100% + 20px);
  @media #{$media_medium_and_up}{
    margin-left: -50px;
    width: calc(100% + 100px);
  }

  height: 3em;
  align-items: center;
  display: flex;
  background-color: $color_blue;
  justify-content: space-between;
  * {
    color: white;
    padding: 0 20px;
  }

  .back-page::before,
  .next-page::after {
    padding: .4em;
  }

  .back-page::before {
    content:"<";
  }
  .next-page::after {
    content:">";
  }
}
