#hamburger-container{
  @media #{$media_medium_and_up}{
    display: none;
  }

  /* Position and sizing of burger button */
  .bm-burger-button {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 36px;
    top: 36px;
    margin-top: -14px;

  }

  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }

  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }

  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }

  /* General sidebar styles */
  .bm-menu-wrap {
    top:0px;
    .bm-menu {
      background: $color_blue;
      padding: 2.5em 1.5em 0;
      font-size: 1.25em;
      line-height: 2em;
    }

  }

  /* Morph shape necessary with bubble or elastic */
  // .bm-morph-shape {
  //   fill: #373a47;
  // }

  /* Wrapper for item list */
  .bm-item-list {
    padding: 0.8em;
    text-align: center;
    a {
      color: white;
      &.active{
        color: $color_yellow;
      }
    }
  }

  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
    top:0px;
    left:0px;
  }
}
