.self-lightbox {
	cursor: pointer;
	display:inline-block;
	position:relative;
	.click-to-view {
		position: absolute;
		background-color: $color_yellow;
		bottom: .4em;
		right: .4em;
		padding: 10px;
	}
	.lightbox-preview {
		margin-right: 5px;
		opacity: .7;

		&:last-of-type{
			margin-right: 0px;
		}
	}
	.hover-text {
		height: 1em;
		text-align: center;
		// font-size: .8em;
		display: none;
		// position: absolute;
	}
	// border-top: 5px solid $color_yellow;
	background-color: $color_yellow;
	padding: .5em;
}