%name_styling {
  color: $color_red;
  font-weight: bold;
  text-transform: uppercase;
}

%circle {
  border-radius: 50%;
  display: inline-block;
}

%clickable_subtle {
  cursor: pointer;
  text-decoration: underline;
  &:hover{
    text-decoration: none;
  }
}
