//font sizes
$largest_font: 32px;
$medium_font: 24px;
$normal_font: 16px;
$small_font: 14px;

$semibold:600;

//colors
$color_red: rgb(152, 75, 67);
$color_blue: rgb(35, 50, 55);
$color_brown: rgb(136, 86, 45);
$color_yellow: rgb(234, 198, 122);
$color_lightblue: #d0d3c5;

$icon_height: 30px;

$media_tiny: "screen and (max-width: 480px)";
$media_small: "screen and (min-width: 481px) and (max-width: 767px)";
$media_medium: "screen and (min-width: 768px) and (max-width: 971px)";
$media_large: "screen and (min-width: 972px) and (max-width: 1399px)";
$media_xlarge: "screen and (min-width: 1400px)";

$media_medium_and_up: #{$media_medium}, #{$media_large}, #{$media_xlarge};
