body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 10px 10px 0 10px;
  @media #{$media_medium_and_up}{
    margin: 20px 50px 0 50px;
  }
  font-size: 14px;
}

a {
  color: black;
  @extend %clickable_underlined;
}
nav a {
  @extend %clickable_subtle;
}

.hidden {
  display:none;
}
.float-right {
  float:right;
}
.circle {
  @extend %circle;
  width: 1em;
  height: 1em;
  margin: 0 .5em;
}


img.icon {
  vertical-align: middle;
  height: $icon_height;
}

span.icon-caption {
  vertical-align: middle;
  margin-right: 20px;
  font-size: $small_font;
}
ul li {
  list-style-position: outside;
  margin-left: 2em;
}
