.contact-page {
  @media #{$media_tiny}, #{$media_small}{
    height: calc(100vh - 50px - 3em);
  }
  .content {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);

    text-align: center;
    font-size: 18px;
    line-height: 1.25em;
    a {
      @extend %clickable_subtle;
    }
    img {
      width: 25%;
    }
    @media #{$media_tiny}, #{$media_small}{
      img {
        width: 50%;
      }
    }

    .contact-mediums {
      color: $color_blue;
    }
  }

  .main-footer {
    position: absolute;
    bottom: 0;
  }
}
