.skill-filter-container {
  text-align: right;
  margin-top:20px;
}

.uiprojects-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.ui-portfolio-summary {
	width: 31%;
	text-decoration: none ;
	// margin: 1.5em;
	margin: 1.5em 0;
	border: 1px solid #ddd;
	&.empty {
		border:none;
	}
	// &:nth-child(odd){
		border-top: 5px solid $color_yellow;
	// }
	// &:nth-child(even){
	// 	border-top: 5px solid $color_lightblue;
	// }
	> div {
		padding: 0 20px;
	}

	.portfolio-img {
		width: 100%;
	}
	.portfolio-title {
		font-weight: 600;
		font-size: 1.25em;
		padding-top: 1em;
	}

	@media  #{$media_tiny}, #{$media_small} {
		width: 100%;
	}
	.portfolio-skills-container{
        @media #{$media_medium_and_up}{
          padding-bottom: 2em;
        }
        .portfolio-skill {
          margin-left: .4em;
          font-style: italic;

          @include delimit(',');
        }
      }
	// border: 1px solid grey;
}

.ui-portfolio-full {
	// a.back-to-portfolio {
	// 	// background-color: $color_yellow;
	// 	// border: 1px solid #DBA123;
	// 	color: #B0811C;
	// 	// font-size: .9em;
	// 	padding: .5em;
	// 	margin-top: 1em;
	// 	text-decoration: none;
	// 	display: block;
	// }
	.portfolio-img-holder {
		background-color: #ddd;
		text-align: center;
		padding: 1em 0;
	}
	.portfolio-img {
		width: 100%;
		max-width: 100vh;
		max-height: 70vh;
	}
	.portfolio-title {
		font-weight: 600;
		font-size: 1.25em;
		padding-top: 1em;
	}
	img {
		max-width: 100%;
	}
	
	.portfolio-links a {
		@extend %clickable_internal;
	}
	.flex {
		display: flex;
		justify-content: space-around;
		align-items: flex-start;
	}
	.portfolio-content {
		padding-bottom: 2em;
	}

	.portfolio-header {
		font-weight: 800;
		font-size: 1.2em;
		padding-top: 1.75em;
		padding-bottom: .5em;
	}

	.portfolio-subheader {
		font-weight: 600;
		padding-top: 1.25em;
		padding-bottom: .25em;
	}

	.highlight-text {
		color: $color_red;
	}
}