/* all pages (mobile additions to custom.css) */
#mob-menu-icon{
	margin-top:10px;
	display: block;
	padding-right:5%;
	text-align: right;
}
.menu{
	display:block; /*disable flex here*/
}
.menu-item{
	display:none;
}

/* index.html (mobile additions to index.css) */
#landing-container {
	padding-top: calc(60px + 5%);
	min-height: calc(100% + 60px);
	display: block;
	text-align: center;
	height: auto;
}
#photo{
	width: 35%;
}
#landing{
    /*width:95%;*/
    padding: 0px;
    text-align: center;
}
#landing #subtitle, #landing #title{
    width:100%;
}
.about-line:last-child {
	padding-bottom: 30px;
}
/* resume.html (mobile additions to resume.css) */
.role{ /*bullet points for entries*/
	display: list-item;
}
.details{ /*details for awards*/
	display: block;
}
.hidden{
	display:none;
}
#download #download-longer{
	display:none;
}
.nav-button{
	z-index: 20;
}
#s2id_and-or-select.select2-container {
	padding-left: 0px;
	padding-top: 5px;
}